<h3>Change Interval</h3>
<div *ngIf="interval">
    <div>
        <label>setting: </label>
        <input [(ngModel)]="interval.intervalValue" placeholder="name" />
    </div>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>