label {
    display: inline-block;
    width: 6em;
    margin: 0.1em 0;
    color: #607D8B;
    font-weight: bold;
    font-size: 130%;
}

input {
    height: 1.4em;
    width: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button {
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
    font-family: Arial;
    font-size: 102%;
    display: inline-block;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}

.setting {
    display: inline-block;
    width: 1em;
    margin: 0 0.2em 0.2em 0;
    font-weight: bold;
    font-size: 145%;
}