<h3>Interval Setting</h3>
<div id="intervals">
    <div *ngFor="let interval of intervals" class="col-1-4">
        <div class="grid grid-pad">
            <label>Setting :</label><span class="setting">{{interval.intervalValue}}</span>
            <label>sec</label>
        </div>
    </div>
</div>

<div id="interval-buttons">
    <button (click)="change()">Change</button>
</div>