label {
    display: inline-block;
    width: 6em;
    margin: 0.1em 0;
    color: #607D8B;
    font-weight: bold;
    font-size: 130%;
}

.info-count {
    margin-top: 2em;
}


/*
.grid.grid-pad label:first-child {
    width: 80px;
    display: inline-block;
}
*/