<h3> Log Status </h3>

<div>
    <div *ngFor="let s of statusList" class="col-1-4">
        <div class="grid grid-pad">
            <label>{{s.severityType}}</label>
            <label>{{s.severityCount}}</label>
        </div>
    </div>
</div>

<div class="grid grid-pad">
    <h4>Status master page</h4>
</div>